.subject1{
    color: #fff;
    text-align: center;
    font-size: 60px;
    margin: 40px 250px;
}

.bbusiness{
    color:#37E2D5;  
}

.subject2{
    max-width: 450px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}